.content-about {
  background-color: #fff;
  padding: 0px 200px;
  padding-top: 150px;
}
@media only screen and (max-width: 1599px) {
  .content-about {
    padding: 0px 90px;
    padding-top: 150px;
  }
}
@media only screen and (max-width: 1099px) {
  .content-about {
    padding: 0px 50px;
    padding-top: 150px;
  }
}
@media only screen and (max-width: 991px) {
  .content-about {
    padding: 0px 20px;
    padding-top: 100px;
  }
}